[submodule "gym-minigrid"]
	path = gym-minigrid
	url = https://github.com/AdamJelley/gym-minigrid.git
[submodule "rl-starter-files"]
	path = minigrid-rl-starter
	url = https://github.com/AdamJelley/minigrid-rl-starter.git
