[submodule "gym-minigrid"]
	path = gym-minigrid
	url = https://github.com/maximecb/gym-minigrid.git
[submodule "rl-starter-files"]
	path = rl-starter-files
	url = https://github.com/lcswillems/rl-starter-files.git
