brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854242877/work
certifi==2022.6.15
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1656782892388/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1655906222726/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1651215424788/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1657174295336/work
docker-pycreds==0.4.0
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1635085722655/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1645531658201/work
h5py==3.7.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1657483911246/work
ordered-set==4.1.0
pathtools==0.1.2
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1657007219741/work
promise @ file:///Users/runner/miniforge3/conda-bld/promise_1649695425874/work
protobuf==3.20.1
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1653089402647/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857374584/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1648757160283/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1656534056640/work
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1659022383651/work
setproctitle @ file:///Users/runner/miniforge3/conda-bld/setproctitle_1650296548088/work
shortuuid @ file:///home/conda/feedstock_root/build_artifacts/shortuuid_1656529349686/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
torch==1.9.0
torchmeta==1.8.0
torchvision @ file:///Users/runner/miniforge3/conda-bld/torchvision-split_1625152347433/work
tqdm==4.64.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1657282472508/work
